<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "user/css/profile.css" %}">
</head>
<body>
    <img src="{% static "user/img/icon.png"%}" width="260" height="100px" class = "logo">
    <a href="{%  url 'voting' %}"><button class="btn btn-warning">Создать голосование</button></a><br>
    <a href="{% url 'allvotesreg' %}" class = "btn btn-warning">Все голосования</a>
<div class = "right">
    <a href="{% url "profile_noreg" %}"><button class = "btn btn-danger">Выйти</button></a>
    <h1>Почта</h1>
    <h2 class = "user_mail">{{ user.mail }}</h2><br>
    <h1>Логин</h1>
    <h2 class = "user_login">{{ user.login }}</h2>
    <a href="{% url 'getUserVotingChoice' %}"><button class="btn btn-warning">Мои голосования</button></a>
</div>

</body>
</html>