<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Polls created by {{ user.login }}</h1>
{% for poll in user_polls %}
        <div>
            <h2>{{ poll.title }}</h2>
            <p>{{ poll.description }}</p>
            <ul>
                {% for choice in poll.choices.all %}
                    <li>{{ choice.text }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</body>
</html>